<mjml>
  <mj-head>
    <mj-attributes>
      <mj-text color="#555" line-height="20px" />
    </mj-attributes>
    <mj-style inline="inline"> a { color: inherit; text-decoration: none } </mj-style>
  </mj-head>
  <mj-body background-color="#eee">
    <mj-include path="./header.mjml" />
    <mj-section background-color="#fff">
      <mj-column>
        <mj-text>Hello {{system_email_name}},</mj-text>
        <mj-text>Please find the attachment below for summary of report submission {{system_report_month}} </mj-text>
        <mj-text>Your sincerely,</mj-text>
        <mj-text>SICM</mj-text>
      </mj-column>
    </mj-section>
    <mj-include path="./footer.mjml" />
  </mj-body>
</mjml>
